.autoShow {
  animation-name: text-appear;    /* mantém o estado final */
  animation-timeline: view();  
}

@keyframes text-appear {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
