@import "tailwindcss";
@plugin "daisyui";

html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/* Para navegadores baseados em WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* Para Firefox */
* {
  scrollbar-width: none;
}

/* Para garantir que o conteúdo continua rolando */
body, html {
  overflow: auto;
}
