.btn:hover {
    background-color: #b2af80;
    color: white;
    font-weight: bold;
}

.btn-style {
    color: black;
    font-weight: normal;
    /* border-color: #b2af80;
    background-color: #d9d7ba3a; */
    border-radius: 0.5rem;
}
.description span {
  white-space: nowrap;
}

.img-scroll-effect {
  filter: drop-shadow(0 0 6px rgba(255, 0, 0, 0.4));
  transition: filter 0.7s ease;
  transform-origin: center;
  /* sem animação no estado inicial */
}

.img-scroll-effect.in-view {
  filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.7));
  animation: heartbeat 3s infinite;
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
    filter: drop-shadow(0 0 6px rgba(185, 37, 37, 0.184));
  }
  25% {
    transform: scale(1.08);
    filter: drop-shadow(0 0 12px rgba(255, 0, 0, 0.237));
  }
  50% {
    transform: scale(1);
    filter: drop-shadow(0 0 6px rgba(255, 0, 0, 0.23));
  }
  75% {
    transform: scale(1.04);
    filter: drop-shadow(0 0 9px rgba(134, 35, 35, 0.256));
  }
}

.mes h1 {
  font-size: clamp(4rem, 7vw, 6rem);
}
