.map-marker {
    margin-top: -2.3rem;
    background-color: #ffd4d2;
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
    color: white;
}

.map-container {
  border-radius: 1rem;
  overflow: hidden; /* importante pra fazer o conteúdo do mapa respeitar o border-radius */
  height: 50vh;
}
