.bg {
    background-color: #b2af8086;
}
.bg-como_chegar {
  background: linear-gradient(to bottom, #ffd4d259, rgba(255, 255, 255, 0));
}
.bg-Presenca {
  background: linear-gradient(to bottom, #baabca5c, rgba(255, 255, 255, 0));
}
.bg-tips {
  background: linear-gradient(to bottom, #fddcc435, rgba(255, 255, 255, 0));
}
